
<header class="cabecera">
    <div class="imagenLogo">
        <a routerLink="/home">
            <img id="logoHome" src="assets/image/logo_transparent_modoBlanco.png" width="110" alt="Logo empresa" title="Smartcell">
        </a>
    </div>
    <div>
        <a routerLink="/home" routerLinkActive="active" class="marcas">{{ home }}</a>
        <a routerLink="/catalogo-apple" routerLinkActive="active" class="marcas">{{ apple }}</a>
        <a routerLink="/catalogo-samsung" routerLinkActive="active" class="marcas">{{ samsung }}</a>
        <a routerLink="/reserva" routerLinkActive="active" class="marcas">{{ reserva }}</a>
        <a routerLink="/news" routerLinkActive="active" class="marcas">{{ news }}</a>
    </div>
    <div class="iconosNav">
        <a href="#busqueda"><img id="logoHome" src="assets/image/busqueda-negro.png" width="22"></a>
        <a href="#carrito"><img id="logoHome" src="assets/image/bolsa-de-la-compra-negro.png" width="22"></a>
        <a href="#usuario"><img id="logoHome" src="assets/image/usuario_negro.png" width="22"></a>
    </div>
</header>

<main>
    <h1>{{ news }}</h1>
    <ul>
      <li *ngFor="let noticia of noticias">
        <div class="text">
        <a [href]="noticia.url" target="_blank" class="linkNews"><h3>{{ noticia.title }}</h3></a>
        <p class="autor">{{ noticia.author }}</p>
        <p class="fecha">{{ noticia.publishedAt }}</p>
          <p class="descripcion">{{ noticia.description }}</p>
        </div>
        <img [src]="noticia.urlToImage" alt="{{ noticia.title }}" class="imagen" />
      </li>
    </ul>
  </main>
  

  