<app-header></app-header>

<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div id="title">
    <h2>Regístrate</h2>
  </div>

  <div class="mb-3">
    <input
      id="name1"
      placeholder="Nombre"
      type="text"
      formControlName="name"
    />
  </div>

  <div class="mb-3">
    <input
      id="inputEmail"
      placeholder="Correo electrónico"
      type="email"
      formControlName="email"
      [ngClass]="{ 'input-error': email?.invalid && email?.touched }"
    />
    <div *ngIf="emailError" class="error-msg">
      <small>Por favor, ingrese un correo electrónico válido o inexistente.</small>
    </div>
  </div>

  <div class="mb-3">
    <input
      id="inputPassword"
      placeholder="Contraseña"
      [type]="showPassword ? 'text' : 'password'"
      formControlName="password"
      [ngClass]="{
      'input-error':
        (password?.invalid && password?.touched) ||
        (password?.errors?.['minlength'] && password?.touched)
    }"
    />
    <div *ngIf="password?.invalid && password?.touched" class="error-msg">
      <small>La contraseña es obligatoria.</small>
    </div>
    <div *ngIf="password?.hasError('minlength') && password?.touched" class="error-msg">
    <small>La contraseña debe tener al menos 8 caracteres.</small>
  </div>
  </div> 

  <div class="mb-3">
    <input
      id="confirmPassword"
      type="password"
      placeholder="Repita la contraseña"
      formControlName="confirmPassword"
      [ngClass]="{ 'input-error': confirmPassword?.invalid && confirmPassword?.touched || registerForm.hasError('passwordsMismatch') }"
    />
    <div *ngIf="registerForm.hasError('passwordsMismatch') && confirmPassword?.touched" class="error-msg">
      <small>Las contraseñas no coinciden.</small>
    </div>
  </div>

  <div class="mb-3 form-check">
      <input
    type="checkbox"
    class="form-check-input"
    id="togglePassword"
    (change)="showPassword = !showPassword"
  />
    <label class="form-check-label" for="exampleCheck1">Mostrar contraseña</label>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Crear cuenta</button>
</form>
