<app-header></app-header>

<div class="principal-Container">
<div class="title">
    <h1>{{ title }}</h1>
</div>

<div class="content">
    <p>{{ description }}</p>
</div>

<form (ngSubmit)="crearUrl()" #form="ngForm">
    <div class="input-group">
     <input
  type="text"
  class="insert-link"
  placeholder="Inserta URL"
  [(ngModel)]="originalUrl"
  name="url"
  required
   pattern="https?://[^\s/$.?#].[^\s]*"
  #urlInput="ngModel"
/>
<div class="error" *ngIf="urlInput.invalid && (urlInput.dirty || urlInput.touched)">
  <p *ngIf="urlInput.errors?.['required']">La URL es obligatoria.</p>
  <p *ngIf="urlInput.errors?.['pattern']">La URL debe empezar por http:// o https://</p>
</div>


      <span class="input-group-btn">
        <button class="btn-shorten" type="submit">{{ bshorten }}</button>
      </span>
    </div>
  </form>

  <div *ngIf="shortenedUrl" class="shortened-result">
    <p>URL Acortada:</p>
    <div class ="buttons-container">
    <a [href]="shortenedUrl" target="_blank">{{ shortenedUrl }} </a>
    <button class="button-copy" *ngIf="showCopyButton" (click)="copiarUrl(shortenedUrl)">   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-copy">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"/>
      <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"/>
    </svg></button>
    <p *ngIf="copySuccess" class="copied-msg"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.25"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg></p>
    </div>
  </div>
</div>
