<!-- home.component.html -->
<header class="cabecera">
    <a routerLink = "/home">
        <img id="logoHome" src="assets/image/logo_transparent2.png" width="110" alt="Logo empresa" title="Smartcell">
    </a>
    <div>
        
        <a routerLink="/catalogo-apple" class="marcas">{{ apple }}</a>
        <a routerLink="/catalogo-samsung" class="marcas">{{ samsung }}</a>
        <a routerLink="/reserva" class="marcas">{{ reserva }}</a>
    </div>
    <div class="iconosNav">
        <a href="#busqueda"><img id="logoHome" src="assets/image/simbolo-de-la-interfaz-de-busqueda.png" width="22"></a>
        <a href="#carrito"><img id="logoHome" src="assets/image/bolsa-de-la-compra.png" width="22"></a>
        <a href="#usuario"><img id="logoHome" src="assets/image/usuario.png" width="22"></a>
    </div>
</header>

<main>
    <section class="video">
        <div id="titHome" class="titHome">
            <h1>Nuevo Samsung S25 Ultra</h1>
            <h3>Desde 1459€</h3>
            <h6>Resérvalo ahora desde la página web</h6>
        </div>
        <div class="botonesInicio">
            <a id="botonAzul" href="">Comprar</a>
            <a id="botonBlanco" href="">Ver más</a>
        </div>
        <video id="videoSamsung" class="videoSamsung" src="https://images.samsung.com/es/smartphones/galaxy-s25-ultra/videos/galaxy-s25-ultra-features-form-factor-mo.webm?imbypass=true" autoplay muted loop></video>
    </section>

    <section class="sectGaleria">
        <div class="titGaleria">
            <h1>Elige tu favorito</h1>
        </div>
        <div class="galeria">
            <img src="https://www.apple.com/v/iphone-16-pro/d/images/overview/product-stories/design/color__eaawe4bmivki_xlarge.jpg" alt="Logo empresa" title="Iphone 16 pro max">
            <img src="https://pngimg.com/uploads/iphone16/iphone16_PNG38.png" alt="Logo empresa" title="Iphone 16 pro max">
            <img src="https://pngimg.com/uploads/iphone16/iphone16_PNG37.png" alt="Logo empresa" title="Iphone 16">
            <img src="https://pngimg.com/uploads/iphone16/iphone16_PNG36.png" alt="Logo empresa" title="Iphone 16">
        </div>
    </section>
</main>


