
<header class="cabecera">
    <div class="imagenLogo">
        <a routerLink="/home">
            <img id="logoHome" src="assets/image/logo_transparent_modoBlanco.png" width="110" alt="Logo empresa" title="Smartcell">
        </a>
    </div>
    <div>
        <a routerLink="/home" routerLinkActive="active" class="marcas">{{ home }}</a>
        <a routerLink="/catalogo-apple" routerLinkActive="active" class="marcas">{{ apple }}</a>
        <a routerLink="/catalogo-samsung" routerLinkActive="active" class="marcas">{{ samsung }}</a>
        <a routerLink="/reserva" routerLinkActive="active" class="marcas">{{ reserva }}</a>
        <a routerLink="/news" routerLinkActive="active" class="marcas">{{ news }}</a>
    </div>
    <div class="iconosNav">
        <a href="#busqueda"><img id="logoHome" src="assets/image/busqueda-negro.png" width="22"></a>
        <a href="#carrito"><img id="logoHome" src="assets/image/bolsa-de-la-compra-negro.png" width="22"></a>
        <a href="#usuario"><img id="logoHome" src="assets/image/usuario_negro.png" width="22"></a>
    </div>
</header>

<main class="catalogo">
    <h1>Catálogo {{ samsung }}</h1>
     <p>Total de resultados de la búsqueda: {{ getNumMoviles() }}</p>
    <div *ngFor="let modeloCombinado of modelosCombinados" class="modelo">
        <a class="titMovil" href="">{{ modeloCombinado }}</a>
        <img [src]="getImageForModel(modeloCombinado)" alt="Imagen del modelo">
        <div class="bottom">
            <div class="precioYBoton">
                <p><strong></strong><span class="precio"> {{ getPrice(modeloCombinado) }} </span></p>
                <a class="botonComprar" href="">Añadir a la cesta</a>
            </div>
            <div class="detalles">
                <p><strong>Modelo:</strong> {{ modeloCombinado.split(" ")[0] }}</p>
                <p><strong>Capacidad:</strong> {{ getCapacity(modeloCombinado) }}</p>
                <p><strong>Color:</strong> {{ getColor(modeloCombinado) }}</p>
                <p><strong>Chip:</strong> {{ getChip(modeloCombinado) }}</p>
            </div>
        </div>
    </div>  
</main>



