* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Plus Jakarta Sans', Arial;
   
}

@font-face {
    
    font-family: 'Plus Jakarta Sans';
    src: url('/src/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf') format('');
    font-weight: normal;
    font-style: normal;
}

.cabecera {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0);
 
  
  }
  
  .cabecera:hover {
    background-color: rgba(255, 255, 255, 0.919);
  }
  
  .cabecera.hide {
    top: -80px; 
  }
  
  .imagenLogo {
    padding-left: 50px;
  }
  
  .marcas:hover {
    outline: 2px solid rgb(236, 236, 236);
    background-color: rgb(236, 236, 236);
  }
  
  .marcas.active {
    color: rgba(16, 94, 220, 0.729);
  }
  
  /*Texto de la cabecera (marcas)*/
  .marcas{
    text-decoration: none;
    font-size: 17px;
    font-weight: 550;
    color: rgb(64, 64, 64);
    padding: 5px 10px;

}
  
  .iconosNav {
    padding-right: 50px;
  }
  
  .iconosNav img {
    margin: 5px 10px;
  }
  

.catalogo {
    padding-top: 70px;
    padding-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
    color: #333;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 

}

.modelo {
    border: 1px solid #c7c7c7;
    padding: 15px;
    background-color: #ffffff;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}

.modelo img {
    width: 20%;
    height: auto;
}

.modelo:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

.bottom{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
}

.detalles {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    margin-top: 10px;
}

.detalles ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.titMovil{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.detalles li {
    margin-bottom: 5px;
}

.precio{
    font-size: 30px;
}

.precioYBoton{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.botonComprar {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(16, 94, 220, 0.729);
}


